
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.Resume a{
text-decoration: none;

}


.nav{

    padding-left: 26rem ;
}
.nav a{
    text-decoration: none;
    display: inline;
    margin-right: 50px;
    text-align: center;
    color: rgb(12, 148, 103);

}

html{
    font-family: 'Roboto', sans-serif;
}

.Work{
    border-style: double;
    border-radius: 5px;
    border-color: brown;
    padding:3%;
    
}

#vid{
    margin-left: 20rem;
}

#audio{
    margin-left: 30rem;
}

.Resume{
    color: rgb(17, 121, 86);
}

.Resume > h1{
    
    padding-left: 30rem;
}

.Resume > a{
    
    padding-left: 36rem;
    color: rgb(17, 121, 86);
}

footer{
    background-color: rgb(12, 133, 92);
    padding-bottom: 3px;
    color: rgb(72, 177, 180);

}

footer > a{
    padding-left: 19.2rem;
}

footer > h3{
    padding-left: 40rem;
    padding-top: 5px;
    font-size: larger;
}

footer > p{
    padding-left: 37rem;
}

.About{
    color: brown; 
    text-align: center;
}

