
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.Resume a{
text-decoration: none;

}

.nav a{
    text-decoration: none;
    display: inline;
    margin-right: 50px;
    text-align: center;
    color: rgb(12, 148, 103);

}

html{
    font-family: 'Roboto', sans-serif;
}

.Work{
    border-style: double;
    border-radius: 5px;
    border-color: brown;
    padding:3%;
    
}

.Resume, h1{
    color: rgb(17, 121, 86);
}

footer{
    background-color: rgb(12, 133, 92);
    padding-bottom: 3px;
    color: rgb(72, 177, 180);
}

.About{
    color: brown; 
    text-align: center;
}

